@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/tea.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   @*  <link href="~/webpagescss/teapage.css" rel="stylesheet" /> *@

    <title>TeaPage</title>
</head>
<body>
    <div class="container">

        <div class="image-wrapper">
            <img src="~/assets/img/coff/coff sm.png" />
        </div>

        <div class="heading-wrapper">
            <h2 id="shop">Herb's Tea Shop</h2>
            <p>We've Got What Your need</p>
        </div>

        <div class="address">
            <p><strong>(404)555-12345</strong></p>
            <p>123 main st</p>
            <p>stansfanso ca</p>
        </div>
        <br />
        <br />
        <br />
        <br />
        
        


       

    </div>

    <div class="menu-bar">
        
        <ul>
            <div class="home">
            <li><a href="#">Home</a> </li>
            </div>
            <div class="about">
            <li><a href="#">About Us</a> </li>
            </div>

            <div id="contact3">
        <li><a href="#">&nbsp;</a> </li>
            </div>
            
        </ul>
    </div>

    <div class="backimage">
        <img src="~/assets/img/coff/black.png"  class="background-image" /> 
        <img src="~/assets/img/coff/coff.png"  alt="Overlay Image" class="overlay-image" />
    </div>

    </br>


    <div class="newsletter-section">
        <h3>Tea of the Month Club</h3>
        <p>Use the form below to sign up<br /> for our Tea of the Month Club.</p>


        <div class="form-group">
            <label for="name">Name   <span class="required">*</span> </label>
            <input type="text" id="name"  name="name" class="form-control form-control-sm custom-textbox" />
        </div>
        <div class="form-group">
            <label for="email">Email Address  <span class="required">*</span> </label>
            <input type="email" id="email"   name="email" class="form-control form-control-sm custom-textbox" />
        </div>
        <div class="form-group">
            <label for="message">Message <span class="required">*</span> </label>
            <textarea id="message" name="message"  class="form-control form-control-sm custom-textbox" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Send Message" class="btn btn-primary" />
        </div>

   
        </br>
        </br>
        </br>

        <div class=" teaofftheday">
            <p> <h4> Tea of the day</h4></p>

            <img src="~/assets/img/coff/screenshot 2024-04-15 095044.png"   class="img10" />

        </div>

    </div>


    <div class="paragraph">
        <h4 id="outtea"> Our tea is best!</h4> 
        <p> If you're looking for random paragraphs,
    you've come to the right place. 
    When a random word or a random sentence isn't quite enough,
    the next logical step is to find a random paragraph.
    We created the Random Paragraph Generator with you in mind.
    The process is quite simple. </p> 
    </div>

    <div>
        <div class=" teaset">
            <h4> Tea Sets</h4>
            <img src="~/assets/img/coff/screenshot 2024-04-11 142236.png"  class=" img1"/>
           
   

            <div class="paragraph1">

                <p>
                    Our store stocks a variety of <br />
                    factory
                    made as well as hand <br />made tea sets.
                    we have many <br />style,so come in and
                    choose <br />one th at is right for you
                    or pick<br /> the perfect gift
                </p>
            </div>

            <div class="address1">
                <h3> Our Address </h3></br> </br>
                <h4> 123 main st</h4>
                <h4> hitech city</h4>

            </div>

          


        </div>
        <div class=" teaset2">
            <h4> Tea Varieties</h4>
            <img src="~/assets/img/coff/screenshot 2024-04-11 142302.png"   class="img2"/>

            <div class="paragraph2">
                 <p> 
                    whenever you want to come</br>
                    have a cup in morning or </br>
                    take a proud with you ,</br> we've
                    got you coverd 
                    with a </br>calours sell various
                 </p>
            </div>


 
       </div>
        <div class=" teaset3">
           <h4> TeaTasting</h4>
            <img src="~/assets/img/coff/coff1.png"  class="img3"/>



            <div class="paragraph3">
                <p>
                    whenever you want to come</br>
                    have a cup in morning or </br>
                    take a proud with you ,</br> we've
                    got you coverd
                    with a </br>calours sell various
                </p>
            </div>

   
       </div>

        <div >
            <img src="~/assets/img/coff/map.png" class="img11" />
        </div>
       

    </div>

</body>
</html>